<div class="row">
    {{#each proveedores}}
    <div class="d-flex flex-row justify-content-center">
        <a href="/proveedores/add" class="btn btn-primary p-4 text-light fw-bold fs-4 rounded">Agregar proveedor</a>
    </div>
    <div class="col-md-4 mt-4">
        <div class="card">
            <div class="card-header d-flex flex-row py-3 align-items-center justify-content-between">
                <h4 class="text-capitalize">{{ title }}</h4>
                <a class="text-primary" href="/proveedores/edit/{{_id}}"><i class="fas fa-edit fa-2x"></i></a>
            </div>
            <div class="card-body">
                <p>{{ description }} </p>
                <p>{{ description }} </p>
                <p>{{ description }} </p>
                <p>{{ description }} </p>
                <p>{{ description }} </p>
                <p>{{ description }} </p>
                <!-- DELETE REQUEST -->
                <form action="/proveedores/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <div class="d-grid mx-4">
                        <button type="submit" class="btn btn-danger rounded fw-bold">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-8 card my-5 py-5 mx-auto">
        <div class="card-body text-center">
            <h1 class="display-3 fw-bold text-capitalize">Bienvenid@ {{username}}</h1>
            <p class="lead fs-3">Aun no tienes proveedores.</p>
            <div class="d-flex flex-row justify-content-center">
                <a href="/proveedores/add" class="btn btn-primary p-4 text-light fw-bold fs-4 rounded">Agrega uno
                    ahora!</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>