<div class="row justify-content-center">
    {{#if presupuesto}}
    <div class="text-center col-12">
        <a href="/presupuesto/add" class="btn btn-primary p-4 text-light fw-bold fs-4 rounded">Agregar presupuesto</a>
    </div>

    <div class="row justify-content-center mt-4">
        {{!-- Buscador --}}
        <div class="col-6">
            <form>
                <input type="search" id="searchPresupuesto" class="form-control" placeholder="Buscar">
            </form>
        </div>

        {{!-- Buscar por categoria --}}
        <div class="col-2">
            <select class="form-select" id="filterPresupuesto">
                <option value="#" selected>Filtrar por Tipo</option>
                <option value="#">Boda</option>
                <option value="#">Baby Shower</option>
                <option value="#">Cumpleaños</option>
                <option value="#">Graduacion</option>
                <option value="#">Otras</option>
            </select>
        </div>
    </div>

    {{!-- Table Presupuesto --}}
    <div class="table-responsive mt-4">
        <table class="table table-striped table-light">
            <thead>
                <tr class="row justify-content-center">
                    <th class="col-auto">#</th>
                    <th class="col-1">Fecha</th>
                    <th class="col-2">Actividad</th>
                    <th class="col-1">Tipo</th>
                    <th class="col-2">Cliente</th>
                    <th class="col-1">Estado</th>
                    <th class="col-1">Costo</th>
                    <th class="col-1">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each presupuesto}}
                <tr class="row justify-content-center">
                    <td class="col-auto">{{incrementIndex @index}}</td>
                    <td class="col-1">{{dateActivity}}</td>
                    <td class="col-2 text-break">{{nameActivity}}</td>
                    <td class="col-1">{{typeActivity}}</td>
                    <td class="col-2 text-break">{{nameClient}}</td>
                    <td class="col-1">{{status}}</td>
                    <td class="col-1">{{amount}}</td>
                    <td class="col-1">
                        <div class="d-flex d-flex align-items-center justify-content-between gap-1">
                            <a class="border-0 bg-transparent me-1 p-0" href=""><i
                                    class="fa fa-eye text-success fa-lg"></i></a>
                            <a class="border-0 bg-transparent m-0 p-0" href="/presupuesto/edit/{{_id}}"><i
                                    class="fas fa-edit fa-lg text-primary"></i></a>
                            <!-- DELETE REQUEST -->
                            <form action="/presupuesto/delete/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="border-0 bg-transparent">
                                    <i class="fas fa-trash fa-lg text-danger"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


{{else}}
<div class="col card my-5 py-5 mx-auto bg-dark">
    <div class="card-body text-center">
        <h1 class="display-4 fw-bold text-light">Aun no haz creado <br>un presupuesto</h1>
        <p class="lead fs-3 text-light"></p>
        <a href="/presupuesto/add" class="btn btn-primary p-4 text-light fw-bold fs-4 rounded">Crea uno
            ahora!</a>
    </div>
</div>
{{/if}}
</div>