<div class="row mt-3">
    <div class="bg-light border border-secondary p-0">
        <div>
            <h1 class="text-center bg-dark text-white py-2">Crear Presupuesto</h1>
            <p class="fs-4 lead border border border-2 py-2 ps-4">Detalles del presupuesto:</p>
        </div>
        <div class="mt-3">
            <form action="/presupuesto/edit-presupuesto/{{presupuesto._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT" />
                <div class="d-flex flex-wrap justify-content-between mx-5">
                    <div>
                        <div class="form-group">
                            <label for="nameActivity">Nombre del evento</label>
                            <input type="text" class="form-control" name="nameActivity"
                                value="{{presupuesto.nameActivity}}" required />
                        </div>
                        <div class="form-group">
                            <label for="typeActivity">Tipo de evento</label>
                            <select class="form-select" name="typeActivity" required>
                                <option value="" disabled>Selecciona uno</option>
                                {{#each typeActivity}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nameClient">Cliente</label>
                            <input type="text" class="form-control" name="nameClient" value="{{presupuesto.nameClient}}"
                                required />
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="phone">Telefono</label>
                            <input type="tel" class="form-control" name="phone" id="phone" value="{{presupuesto.phone}}"
                                maxlength="10" />
                        </div>
                        <div class="form-group">
                            <label for="email">Correo</label>
                            <input type="email" class="form-control" name="email" placeholder="Ejemplo@Ejemplo.com"
                                value="{{presupuesto.email}}" />
                        </div>
                        <div class="form-group">
                            <label for="location">Ubicacion</label>
                            <input type="text" class="form-control" name="location" value="{{presupuesto.location}}" />
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="dateActivity">Dia</label>
                            <input type="date" class="form-control" name="dateActivity" id="dateActivity"
                                value="{{presupuesto.dateActivity}}" />
                        </div>
                        <div class="form-group">
                            <label for="timeActivity">Hora</label>
                            <input type="time" class="form-control" name="timeActivity"
                                value="{{presupuesto.timeActivity}}" />
                        </div>
                        <div class="form-group">
                            <label for="descriptionActivity">Descripcion</label>
                            <input type="text" class="form-control" name="descriptionActivity"
                                value="{{presupuesto.descriptionActivity}}" />
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="statusPresupuesto">Estado del presupuesto</label>
                            <select class="form-select" name="statusPresupuesto" required>
                                <option value="" disabled>Selecciona uno</option>
                                {{#each statusPresupuesto}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="statusPaid">Estado de pago</label>
                            <select class="form-select" name="statusPaid" required>
                                <option value="" disabled>Selecciona uno</option>
                                {{#each statusPaid}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="createdBy">Creado por</label>
                            <input type="text" class="form-control" value="{{presupuesto.createdBy}}" readonly />
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="fs-5 lead border-bottom border-2 ps-4">Facturacion del
                            presupuesto:</p>
                    </div>
                    <div class="container-fluid table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="align-middle text-center">
                                    <th>#</th>
                                    <th>Tipo</th>
                                    <th>Articulo</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>ITBIS</th>
                                    <th>Descuento %</th>
                                    <th>Total</th>
                                    <th>
                                        <button type="button" class="btn-custom" id="btnNewRow">+</button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="DinamicTableRow">
                                {{#each presupuesto.presupuestoData.typeArticle as |selectedType|}}
                                <tr class="align-middle">
                                    <th class="">{{incrementIndex @index}}</th>
                                    <td class="">
                                        <select class="form-select typeArticle" name="typeArticle[]" required>
                                            <option value="" disabled>Selecciona uno</option>
                                            {{#each ../presupuestoDefaultTypes.article}}
                                            {{#ifEquals this selectedType}}
                                            <option value="{{this}}" selected>{{
                                                this}}</option>
                                            {{else}}
                                            <option value="{{this}}">{{this}}</option>
                                            {{/ifEquals}}
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control nameArticle" type="text" name="nameArticle[]"
                                            placeholder="Bocinas"
                                            value="{{lookup ../presupuesto.presupuestoData.nameArticle @index}}"
                                            required />
                                    </td>
                                    <td>
                                        <input class="form-control text-end totalArticle" type="number" step="1"
                                            name="totalArticle[]" placeholder="0"
                                            value="{{lookup ../presupuesto.presupuestoData.totalArticle @index}}"
                                            required />
                                    </td>
                                    <td>
                                        <input class="form-control text-end price" type="number" step="0.1"
                                            name="price[]" placeholder="0.00"
                                            value="{{lookup ../presupuesto.presupuestoData.price @index}}" required />
                                    </td>
                                    <td>
                                        <input class="form-control text-end itbis" type="number" name="itbis[]"
                                            value="{{lookup ../presupuesto.presupuestoData.itbis @index}}" readonly
                                            required />
                                    </td>
                                    <td>
                                        <input class="form-control text-end porcentDiscount" type="number" step="0.1"
                                            name="porcentDiscount[]" placeholder="0%"
                                            value="{{lookup ../presupuesto.presupuestoData.porcentDiscount @index}}"
                                            required />
                                    </td>
                                    <td>
                                        <input class="form-control text-end totalPrice" type="number"
                                            name="totalPrice[]" placeholder="0.00"
                                            value="{{lookup ../presupuesto.presupuestoData.totalPrice @index}}" readonly
                                            required />
                                    </td>
                                    <td>
                                        <button class="btnRemoveRow">X</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="my-5 me-3">
                    <div class="d-flex flex-column text-end mx-5">
                        <p class="fs-5 fw-bold my-1">SubTotal: <span class="text-end fs-5 fw-bold" type="text"
                                id="subTotal"></span></p>
                        <p class="fs-5 fw-bold my-1">ITBIS Total: <span class="text-end fs-5 fw-bold" type="text"
                                id="totalItbis"></span></p>
                        <p class="fs-5 fw-bold my-1">Descuento Total: <span class="text-end fs-5 fw-bold" type="text"
                                id="totalDiscount"></span>
                        </p>
                        <p class="fs-5 fw-bold my-1 mb-3">Monto Total: <span class="text-end fs-5 fw-bold" type="text"
                                id="totalAmount"></span></p>
                        <div>
                            <button class="btn btn-primary btn-lg fw-bold fs-4 rounded shadow px-5" type="submit">
                                Crear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>