<div class="row">
    <div class="bg-light border border-secondary p-0">
        <div>
            <h1 class="text-center bg-dark text-light py-2">Crear Presupuesto</h1>
            <p class="fs-4 lead border border border-2 py-2 ps-4">Detalles del presupuesto:</p>
        </div>
        <div class="mt-3">
            <form action="/presupuesto/new-presupuesto" method="POST">
                <div class="d-flex flex-wrap justify-content-between mx-5">
                    <div>
                        <div class="form-group">
                            <label for="nameActivity">Nombre de la actividad</label>
                            <input type="text" class="form-control" name="nameActivity" required />
                        </div>
                        <div class="form-group">
                            <label for="typeActivity">Tipo de actividad</label>
                            <select class="form-select" name="typeActivity" required>
                                <option value="" disabled selected>Selecciona uno</option>
                                {{#each presupuestoDefaultTypes.activity}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nameClient">Cliente</label>
                            <input type="text" class="form-control" name="nameClient" required />
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="phone">Telefono</label>
                            <input type="tel" class="form-control" name="phone" />
                        </div>
                        <div class="form-group">
                            <label for="email">Correo</label>
                            <input type="email" class="form-control" name="email" placeholder="Ejemplo@Ejemplo.com" />
                        </div>
                        <div class="form-group">
                            <label for="location">Ubicacion</label>
                            <input type="text" class="form-control" name="location" />
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="dateActivity">Dia</label>
                            <input type="date" class="form-control" name="dateActivity" />
                        </div>
                        <div class="form-group">
                            <label for="timeActivity">Hora</label>
                            <input type="time" class="form-control" name="timeActivity" />
                        </div>
                        <div class="form-group">
                            <label for="descriptionActivity">Descripcion</label>
                            <input type="text" class="form-control" name="descriptionActivity" />
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="statusPresupuesto">Estado del presupuesto</label>
                            <select class="form-select" name="statusPresupuesto" required>
                                <option value="" disabled selected>Selecciona uno</option>
                                {{#each presupuestoDefaultTypes.statusPresupuesto}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="statusPaid">Estado de pago</label>
                            <select class="form-select" name="statusPaid" required>
                                <option value="" disabled selected>Selecciona uno</option>
                                {{#each presupuestoDefaultTypes.statusPaid}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="createdBy">Creado por</label>
                            <input type="text" class="form-control" name="createdBy" value="{{username}}" readonly />
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="fs-5 lead border-bottom border-2 ps-4">Facturacion del
                            presupuesto:</p>
                    </div>
                    <div class="container-fluid table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="align-middle">
                                    <th>#</th>
                                    <th>Tipo</th>
                                    <th>Articulo</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>ITBIS</th>
                                    <th>Descuento %</th>
                                    <th>
                                        <button class="btn-custom" id="btnNewRow">+</button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="DinamicTableRow">
                                <tr class="align-middle">
                                    <th class="">1</th>
                                    <td class="">
                                        <select class="form-select typeArticle" name="typeArticle[]" required>
                                            <option value="" selected disabled>Selecciona uno</option>
                                            {{#each presupuestoDefaultTypes.article}}
                                            <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td class="">
                                        <input class="form-control nameArticle" type="text" name="nameArticle[]"
                                            placeholder="Bocinas" required />
                                    </td>
                                    <td class="">
                                        <input class="form-control text-end totalArticle" type="number"
                                            name="totalArticle[]" placeholder="0" value="1" required />
                                    </td>
                                    <td class="">
                                        <input class="form-control text-end price" type="number" name="price[]"
                                            placeholder="0.00" required />
                                    </td>
                                    <td class="">
                                        <input class="form-control text-end itbis" type="number" name="itbis[]"
                                            readonly />
                                    </td>
                                    <td class="">
                                        <input class="form-control text-end discount" type="number" name="discount[]"
                                            placeholder="0%" />
                                    </td>
                                    <td class="">
                                        <button class="btnRemoveRow">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="my-5">
                    <div class="d-flex flex-column text-center mx-5">
                        <p class="fs-5 fw-bold my-1">SubTotal: <span class="text-end fs-5 fw-bold" type="text"
                                id="totalPrice"></span></p>
                        <p class="fs-5 fw-bold my-1">ITBIS Total: <span class="text-end fs-5 fw-bold" type="text"
                                id="totalItbis"></span></p>
                        <p class="fs-5 fw-bold my-1">Descuento Total: <span class="text-end fs-5 fw-bold" type="text"
                                id="totalDiscount"></span>
                        </p>
                        <p class="fs-5 fw-bold my-1 mb-3">Monto Total: <span class="text-end fs-5 fw-bold" type="text"
                                id="totalAmount"></span></p>
                        <div>
                            <button class="btn btn-primary btn-lg fw-bold fs-4 rounded shadow px-5" type="submit">
                                Crear
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<script type="module" src="/js/loadPresupuesto.js"></script>