<div class="row mt-3">
    <div class="hide-on-print text-center mb-2">
        <button class="btn btn-success btn-lg fw-bold" id="btn-print">
            Imprimir
        </button>
    </div>

    <div class="row bg-light mx-auto shadow carta" id="toPrint">

        <h2 class="fw-bold text-center my-1">PRESUPUESTO</h2>

        <div class="mx-auto">
            <h2 class="fs-4">Organizador:</h2>
            <div class="d-flex flex-wrap justify-content-between border-top border-1 border-black mt-1">
                <div class="col-6 mt-1">
                    <p><strong>Nombre: </strong>{{presupuesto.createdBy}}</p>
                    <p><strong>RNC: </strong> 4214211451</p>
                </div>
                <div class="col-6 mt-1">
                    <p><strong>Dirección: </strong>123 av. Mella, Santo Domingo, Rep. Dom.</p>
                    <p><strong>Teléfono: </strong>+1-829-299-2121</p>
                </div>
            </div>
        </div>

        <div class="mx-auto">
            <h2 class="fs-4">Cliente:</h2>
            <div class="d-flex border-top border-1 border-black mt-1">
                <div class="col-6 d-flex flex-column flex-wrap mt-1">
                    <p><strong>Nombre: </strong>{{presupuesto.nameClient}}</p>
                    <p><strong>Evento: </strong>{{presupuesto.nameActivity}}</p>
                    <p><strong>Día: </strong>{{presupuesto.dateActivity}}
                        {{presupuesto.timeActivity}}</p>
                    <p><strong>Ubicación: </strong>{{presupuesto.location}}</p>
                </div>
                <div class="col-6 d-flex flex-column flex-wrap mt-1">
                    <p><strong>Fecha de Impresión : </strong>{{presupuesto.nameActivity}}</p>
                    <p><strong>Fecha de Emisión: </strong>{{presupuesto.location}}</p>
                    <p><strong>Estado del Pago: </strong>{{presupuesto.statusPaid}}</p>
                    <p><strong>Estado del Presupuesto: </strong>{{presupuesto.statusPresupuesto}}</p>
                </div>
            </div>
        </div>

        <div class="mx-auto mt-5">
            <table class="table">
                <thead class="bg-light">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Artículo</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">ITBIS</th>
                        <th class="text-center">Descuento%</th>
                        <!-- <th class="text-center">Total</th> -->
                    </tr>
                </thead>
                <tbody>
                    {{#each presupuesto.presupuestoData.typeArticle}}
                    <tr>
                        <td class="text-center">{{incrementIndex @index}}</td>
                        <td>{{this}}</td>
                        <td>{{lookup ../presupuesto.presupuestoData.nameArticle @index}}</td>
                        <td class="text-end">{{lookup ../presupuesto.presupuestoData.totalArticle @index}}</td>
                        <td class="text-end">{{lookup ../presupuesto.presupuestoData.price @index}}</td>
                        <td class="text-end">{{lookup ../presupuesto.presupuestoData.itbis @index}}</td>
                        <td class="text-end">{{lookup ../presupuesto.presupuestoData.porcentDiscount @index}}</td>
                        <!-- <td class="text-end">{{lookup ../presupuesto.presupuestoData.totalPrice @index}}</td> -->
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="mx-3 my-5">
                <div class="d-flex flex-column text-end mt-auto">
                    <p class="fw-bold">SubTotal: {{formatCurrency presupuesto.subTotal}}</p>
                    <p class="fw-bold">ITBIS Total: {{formatCurrency presupuesto.totalItbis}}</p>
                    <p class="fw-bold">Descuento Total: {{formatCurrency presupuesto.totalDiscount}}</p>
                    <p class="fw-bold">Monto Total: {{formatCurrency presupuesto.totalAmount}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/print.js"></script>
</div>